<div class="container">
    <app-topbar></app-topbar>
    <app-team-bar [showButton]="mostrarBotonTeamBar"></app-team-bar>
    <div class="main-container">
        <div class="main-container-info">
            <div class="historia">
                <Strong>Nuestra Hisotria</Strong>
                <span>Innovacion, crecimiento, tecnologia</span>
            </div>
            <div class="people">
                <div class="people-card">
                    <div class="people-card-img">
                        foto
                    </div>
                    <div class="people-card-content">
                        <Strong>Tech Lead - Rafael Valencia</Strong>
                        <span class="cargo">Innovación de soluciones digitales.</span>
                        <span class="resumen">Ingeniero en TICs con maestría en Gestión de Proyectos. 
                            Lidera la coordinación del equipo, define la dirección técnica y desarrolla 
                            soluciones digitales eficientes que potencian los proyectos de nuestros clientes.</span>
                        <p class="mail">rafael.valencia.r4&#64;gmail.com</p>
                    </div>
                </div>

                <div class="people-card">
                    <div class="people-card-img">
                        foto
                    </div>
                    <div class="people-card-content">
                        <Strong>Marketing Lead - Romel Rivera</Strong>
                        <span class="cargo">Diseño de experiencias cautivadoras</span>
                        <span class="resumen">Profesional con experiencia en manejo de redes sociales y 
                            diseño de publicaciones. Responsable de planificar estrategias de marketing, 
                            gestionar campañas en redes y optimizar la presencia online para impulsar el 
                            éxito de nuestros clientes.</span>
                        <p class="mail">romeldrivera&#64;gmail.com</p>
                    </div>
                </div>
                <div class="people-card">
                    <div class="people-card-img">
                        foto
                    </div>
                    <div class="people-card-content">
                        <Strong>Desarrollador de software - Santiago Vasquez</Strong>
                        <span class="cargo">Creación de software eficiente</span>
                        <span class="resumen">Enfocado en la programación y desarrollo de funcionalidades, 
                            garantizando la calidad técnica y el rendimiento óptimo de las plataformas.</span>
                        <p class="mail">santiremo10&#64;gmail.com</p>
                    </div>
                </div>
                <div class="people-card">
                    <div class="people-card-img">
                        foto
                    </div>
                    <div class="people-card-content">
                        <Strong>Analista de Marketing  - Sebastian Valencia</Strong>
                        <span class="cargo">Diseño de experiencias cautivadoras</span>
                        <span class="resumen">Analiza el rendimiento de nuestras campañas digitales y 
                            proporciona datos clave para optimizar estrategias y mejorar resultados, 
                            asegurando el máximo impacto para nuestros clientes.</span>
                        <p class="mail">valenciasebastian89&#64;gmail.com</p>
                    </div>
                </div>

            </div>
        </div>
        <app-contact-block [showImage]=false [showForm]=false [costumHeigh]=costumHeight></app-contact-block>
        <app-footer></app-footer>
    </div>
</div>