<div class="container">
    <app-topbar></app-topbar>
    <app-team-bar [showButton]="mostrarBotonTeamBar"></app-team-bar>
    <div class="main-container">
        <div class="main-container-info">
            <div class="historia">
                <Strong>Nuestra Hisotria</Strong>
                <span>Innovacion, crecimiento, tecnologia</span>
            </div>
            <div class="people">
                <div class="people-card">
                    <div class="people-card-img">
                        foto
                    </div>
                    <div class="people-card-content">
                        <Strong>Tech Lead - Rafael Valencia</Strong>
                        <span class="cargo">Innovación de soluciones digitales.</span>
                        <span class="resumen">Coordinación del equipo, definición de dirección técnica y desarrollo de soluciones digitales eficientes para los clientes.</span>
                        <p class="mail">rafael.valencia.r4&#64;gmail.com</p>
                    </div>
                </div>

                <div class="people-card">
                    <div class="people-card-img">
                        foto
                    </div>
                    <div class="people-card-content">
                        <Strong>Tech Lead - Rafael Valencia</Strong>
                        <span class="cargo">Innovación de soluciones digitales.</span>
                        <span class="resumen">Coordinación del equipo, definición de dirección técnica y desarrollo de soluciones digitales eficientes para los clientes.</span>
                        <p class="mail">rafael.valencia.r4&#64;gmail.com</p>
                    </div>
                </div>
                <div class="people-card">
                    <div class="people-card-img">
                        foto
                    </div>
                    <div class="people-card-content">
                        <Strong>Tech Lead - Rafael Valencia</Strong>
                        <span class="cargo">Innovación de soluciones digitales.</span>
                        <span class="resumen">Coordinación del equipo, definición de dirección técnica y desarrollo de soluciones digitales eficientes para los clientes.</span>
                        <p class="mail">rafael.valencia.r4&#64;gmail.com</p>
                    </div>
                </div>
                <div class="people-card">
                    <div class="people-card-img">
                        foto
                    </div>
                    <div class="people-card-content">
                        <Strong>Tech Lead - Rafael Valencia</Strong>
                        <span class="cargo">Innovación de soluciones digitales.</span>
                        <span class="resumen">Coordinación del equipo, definición de dirección técnica y desarrollo de soluciones digitales eficientes para los clientes.</span>
                        <p class="mail">rafael.valencia.r4&#64;gmail.com</p>
                    </div>
                </div>

            </div>
        </div>
        <app-contact-block [showImage]=false [showForm]=false [costumHeigh]=costumHeight></app-contact-block>
        <app-footer></app-footer>
    </div>
</div>