.all-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: #ff9800;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #bbbbbb;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.70rem 0rem;
    border-radius: 4px;
    border: 1px solid #333333;
    background-color: #2a2a2a;
    color: #ffffff;
    font-size: 1rem;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #ff9800;
    background-color: #333333;
}

button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #ff9800;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #e68a00;
}

button[type="submit"]:active {
    background-color: #cc7a00;
}
.register-content-button{
    text-align: left;
}

.register-redirect {
    background: none;
    border: none;
    color: #ffffff; /* Color similar al de un enlace */
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
    text-align: left;
    font-size: small;
    align-content: left;
    margin-top: 10px;
}

.register-redirect:hover {
    color: #0056b3;
}