
h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
}
h3 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}
.header-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.description-services{
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 200;
}
button {
    background-color: transparent;
    color: white;
    font-family: 'Orbitron', sans-serif; 
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 10px 0;
}

button:hover {
    color: #ff00ff;
}

button.active{
    color: #ff00ff;
}

.content-layout {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
    width: 100%;
}
.text-container {
    width: 520px;
    height: 788px;
    margin-left: 30px;
}
.text-container-tittle{
    font-size: 40px;
    cursor: default;
}
.cuadros-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    text-align: center;
}
.cuadro-contenedor {
    text-align: center;
}
.cuadro {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff; 
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
    width: 240px; 
    height: 240px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.cuadrado-title{
    position: relative;
    z-index: 2; 
    text-align: center;
    margin: 0;
    line-height: 30px; 
    cursor: default;
    font-weight: 700;
    font-size: 24px;
}
.cuadro-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.cuadro-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    opacity: 0.5; 
    z-index: 1;
    filter: brightness(0.1); 
}
.cuadro:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    border: 4px solid #ff00bf;
    transform: scale(1.05);
}
.descripcion {
    margin-top: 10px;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    cursor: default;
}
.img-container {
    width: 520px; 
    height: 788px;
}
.img-derecha, .img-izquierda {
    width: 80%;
    margin: 30px;
}
.rotated-img{
    transform: scaleX(-1);
}
@media screen and (max-width: 660px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 16px;
    }
    .content-layout {
        flex-direction: column;
        align-items: center; 
    }
    .img-container{
        display: none;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        margin: 16px 100px;
    }
    .cuadros-container{
        display: flex;
        flex-direction: column;
        margin: 16px;
    }
    .cuadro{
        width: 100%;
    }
    app-contact-block{
        margin-top: 600px;
    }
}
