<div class="topbar">
    <div class="logo-container">
        <img class="img-logo" src="assets/images/Logo8-4.png" alt="">
    </div>

    <div class="top-menu">
        <ul>
            <li routerLink="/main" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</li>
            <li routerLink="/servicios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Servicios</li>
            <li routerLink="/trabajos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Trabajos</li>
            <li routerLink="/nosotros" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Nosotros
            </li>

            <li>
                <div>
                    <i class="icon"><fa-icon [icon]="faMoon"></fa-icon></i>
                </div>
            </li>
            <li routerLink="/contactos" routerLinkActive="active">Contacto</li>
        </ul>

    </div>


</div>