<div class="container">
    <app-topbar></app-topbar>
    <div class="main-container">
        <div class="title">
            Construye tu <br>mundo digital perfecto.
        </div>
        <div class="slogan">
            Impulsamos tu identidad digital y <br> la operatividad de tu negocio.
        </div>
        <!-- <div class="slogan-sec-part">
            mediante redes sociales y <br> sistemas web personalizados.
        </div> -->
        <div class="mascota-container">
            <div class="button-services">
                Ver servicios
                <i class="icon"><fa-icon [icon]="faAngleRight"></fa-icon></i>
            </div>
            <img class="img-mascota" src="assets/images/mascota1.png" alt="">
            <div class="button-call">
                Agenda una llamada
                <i class="icon"><fa-icon [icon]="faAngleRight"></fa-icon></i>
            </div>
        </div>
    </div>
</div>