html,
body {
    margin: 0;
    /* Elimina los márgenes por defecto */
    padding: 0;
    /* Elimina los rellenos por defecto */
    height: 100%;
    /* Asegura que el body ocupe toda la pantalla */
    background-color: #000001;
    /* Fondo negro para todo el documento */
}

.container {
    height: 100vh;
    background-color: #000001;

    .main-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        .title {
            color: white;
            margin-top: 10px;
            margin-bottom: 20px;
            font-family: 'Orbitron', sans-serif;
            font-size: 50px;
            text-shadow:
                0 0 8px var(--color-naranja),
                0 0 16px var(--color-naranja),
                0 0 24px var(--color-naranja),
                0 0 32px var(--color-naranja);
            transition: text-shadow 0.3s ease;
            cursor: default;
        }

        .title:hover {
            text-shadow:
                0 0 12px var(--color-naranja),
                0 0 24px var(--color-naranja),
                0 0 36px var(--color-naranja),
                0 0 48px var(--color-naranja);
        }

        .slogan {
            color: white;
            font-family: 'Maven Pro', sans-serif;
            position: absolute;
            top: 275px;
            left: 90px;
            font-weight: 300;
            font-size: 26px;
            cursor: default;
        }

        .slogan-sec-part {
            color: white;
            font-family: 'Maven Pro', sans-serif;
            position: absolute;
            top: 350px;
            right: 40px;
            font-weight: 300;
            font-size: 26px;
        }

        .mascota-container {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            .button-services{
                border: 3px solid var(--color-rosa);
                border-radius: 16px;
                padding: 5px 10px;
                color: white;
                cursor: pointer;
                font-family: 'Maven Pro', sans-serif;
            }
            .button-services:hover{
                box-shadow:
                0 0 4px var(--color-rosa),
                0 0 8px var(--color-rosa),
                0 0 16px var(--color-rosa);
            }
            .img-mascota {
                width: 400px;
                height: 400px;
            }
            .button-call{
                border: 3px solid var(--color-naranja);
                border-radius: 16px;
                padding: 5px 10px;
                color: white;
                cursor: pointer;
                font-family: 'Maven Pro', sans-serif;
            }
            .button-call:hover{
                box-shadow:
                0 0 4px var(--color-naranja),
                0 0 8px var(--color-naranja),
                0 0 16px var(--color-naranja);
            }
        }
    }

}