.container {
    .main-container {
        display: flex;
        justify-content: center;
        padding: 40px 0px;
        margin: 0 20px;
        color: white;
        .info-container {
            display: flex;
            text-align: left;
            justify-content: center;
            flex-direction: column;
            margin-right: 30px;
            font-family: 'Maven Pro', sans-serif;
            cursor: default;
            .title {
                font-weight: 700;
                font-size: 36px;
            }
            .slogan {
                padding: 24px 0px;
                font-weight: 200;
                font-size: 16px;
            }

            .button-services {
                background-color: var(--color-rosa);
                text-align: center;
                border-radius: 8px;
                padding: 12px;
                width: 240px;
                height: 48px;
                cursor: pointer;
            }
        }
        .mascota-container {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-left: 30px;
            .title-neon {
                margin-top: 10px;
                margin-bottom: 20px;
                font-family: 'Orbitron', sans-serif;
                font-size: 40px;
                text-shadow:
                    0 0 8px var(--color-naranja),
                    0 0 16px var(--color-naranja),
                    0 0 24px var(--color-naranja),
                    0 0 32px var(--color-naranja);
                transition: text-shadow 0.3s ease;
                cursor: default;
            }
            .img-mascota {
                width: 347px;
                height: 347px;
            }
        }
    }
    .service-container {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        color: white;
        .service-header {
            display: flex;
            justify-content: center;
            padding: 60px 0px;
            .service-header-info {
                display: flex;
                flex-direction: column;
                font-family: 'Maven Pro', sans-serif;
                width: 860px;
                cursor: default;
                .service-header-title {
                    font-weight: 700;
                    font-size: 40px;
                }
                .service-header-text {
                    font-weight: 200;
                    font-size: 16px;
                    padding: 24px 0px;
                }
                .service-header-buttons {
                    display: flex;
                    text-align: left;
                    .contact-header-button {
                        border: 1px solid white;
                        border-radius: 8px;
                        width: 240px;
                        height: 48px;
                        text-align: center;
                        padding: 12px;
                        margin-right: 12px;
                        cursor: pointer;
                    }
                    .see-more-header-button {
                        border-radius: 8px;
                        width: 240px;
                        height: 48px;
                        text-align: center;
                        padding: 12px;
                        background-color: var(--color-rosa);
                        cursor: pointer;
                    }
                }
            }
            .service-header-img {
                width: 168px;
                height: 168px;
                text-align: center;
                .img-mas-header {
                    transform: rotateY(180deg);
                    width: 100%;
                    height: 100%;
                    scale: 100%;
                    object-fit: cover;
                }
            }
        }
        .service-main {
            display: flex;
            justify-content: center;
            .web-img-service {
                display: flex;
                flex-direction: column;
                .img-content-service {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 340px;
                    cursor: default;
                    .web-img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        margin-right: 40px;
                        opacity: 50%;
                    }
                    .web-img-text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-family: 'Orbitron', sans-serif;
                        font-weight: 300;
                        font-size: 30px;
                    }
                    .marketing-img-text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        text-align: center;
                        transform: translate(-50%, -50%);
                        font-family: 'Maven Pro', sans-serif;
                        font-weight: 300;
                        font-size: 34px;
                    }
                }
            }
            .marketing-img-service {
                width: 530px;
                height: 340px;
            }
        }
    }
}

@media (max-width: 660px) {
    .container {
        .main-container {
            display: flex;
            flex-direction: column;
            .info-container {
                .button-services {
                    width: 100%;
                }
            }
            .mascota-container {
                width: 100%;
                margin: 12px;
                .img-mascota {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
    .service-header {
        padding: 12px 12px 50px 12px !important;
        .service-header-info {
            width: 100px;
            .service-header-title {
                cursor: default;
                margin: 0px;
                font-weight: 500;
                font-size: 30px;
            }
            .service-header-buttons {
                text-align: center;
                flex-direction: column;
                width: 100%;
                .contact-header-button {
                    width: 100% !important;
                    margin-bottom: 12px;
                }
                .see-more-header-button {
                    width: 100% !important;
                }
            }
        }
        .service-header-img {
            display: none;
        }
    }
    .service-main {
        margin-top: 60px;
        flex-direction: column;
        text-align: center;
        .web-img-service {
            align-items: center;
            .img-content-service {
                width: 100% !important;
                justify-content: center;
                text-align: center;
                margin: 12px;
                .web-img {
                    margin-right: 0px !important;
                }
            }
        }
    }
}
