<div class="container">
    <app-topbar></app-topbar>
    <div class="main-container">
        <div class="info-container">
            <div class="title">
                Bienvenido a Dejavuoh Tech
            </div>
            <div class="slogan">
                Impulsamos tu identidad digital y la operatividad de tu negocio.
            </div>
            <div class="button-services" routerLink="/servicios" routerLinkActive="active">
                Ver servicios
                <i class="icon"><fa-icon [icon]="faAngleRight"></fa-icon></i>
            </div>
        </div>
        
        <div class="mascota-container">
            <div class="title-neon">
                Construye tu <br> mundo digital perfecto
            </div>
            <img class="img-mascota" src="assets/images/mascota1.png" alt="">

        </div>
    </div>
</div>