.container {
    height: 100vh;
    background-color: #000001;

    .main-container {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 60px 0px;

        .info-container {
            display: flex;
            /* align-items: center; */
            text-align: left;
            justify-content: center;
            flex-direction: column;
            margin-right: 30px;

            .title {
                color: white;
                font-family: 'Maven Pro', sans-serif;
                cursor: default;
                font-weight: 700;
                font-size: 36px;
            }

            .slogan {
                color: white;
                font-family: 'Maven Pro', sans-serif;
                padding: 24px 0px;
                font-weight: 200;
                font-size: 16px;
                cursor: default;
            }

            .button-services {
                color: white;
                background-color: var(--color-rosa);
                text-align: center;
                border-radius: 8px;
                padding: 12px;
                width: 240px;
                height: 48px;
                cursor: pointer;
            }
        }

        .mascota-container {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-left: 30px;
            /* width: 100%; */
            /* height: 100%; */

            .title-neon {
                color: white;
                margin-top: 10px;
                margin-bottom: 20px;
                font-family: 'Orbitron', sans-serif;
                font-size: 40px;
                text-shadow:
                    0 0 8px var(--color-naranja),
                    0 0 16px var(--color-naranja),
                    0 0 24px var(--color-naranja),
                    0 0 32px var(--color-naranja);
                transition: text-shadow 0.3s ease;
                cursor: default;
            }

            .title-neon:hover {
                text-shadow:
                    0 0 12px var(--color-naranja),
                    0 0 24px var(--color-naranja),
                    0 0 36px var(--color-naranja),
                    0 0 48px var(--color-naranja);
            }

            .img-mascota {
                width: 347px;
                height: 347px;
            }

        }
    }

    .service-container {
        display: flex;
        flex-direction: column;

        .service-header {
            color: white;
            display: flex;
            justify-content: center;
            padding: 60px 0px;

            .service-header-info {
                display: flex;
                flex-direction: column;
                font-family: 'Maven Pro', sans-serif;
                width: 860px;
                height: 168px;

                .service-header-title {
                    cursor: default;
                    font-weight: 700;
                    font-size: 40px;
                }

                .service-header-text {
                    cursor: default;
                    font-weight: 200;
                    font-size: 16px;
                    padding: 24px 0px;
                }

                .service-header-buttons {
                    display: flex;
                    text-align: left;

                    .contact-header-button {
                        border: 1px solid white;
                        border-radius: 8px;
                        width: 240px;
                        height: 48px;
                        text-align: center;
                        padding: 12px;
                        margin-right: 12px;
                        cursor: pointer;
                    }

                    .see-more-header-button {
                        border-radius: 8px;
                        width: 240px;
                        height: 48px;
                        text-align: center;
                        padding: 12px;
                        background-color: var(--color-rosa);
                        cursor: pointer;
                    }

                }
            }

            .service-header-img {
                width: 168px;
                height: 168px;
                text-align: center;

                .img-mas-header {
                    transform: rotateY(180deg);
                    width: 100%;
                    height: 100%;
                    scale: 110%;
                    object-fit: cover;
                }
            }
        }

        .service-main {
            color: white;
            display: flex;
            justify-content: center;

            .web-img-service {
                display: flex;
                flex-direction: column;

                .img-content-service {
                    position: relative;
                    overflow: hidden;
                    width: 530px;
                    height: 340px;

                    .web-img {
                        background-color: #666666;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        margin-right: 40px;
                        opacity: 50%;
                    }

                    .web-img-text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-family: 'Orbitron', sans-serif;
                        font-weight: 300;
                        font-size: 30px;
                        cursor: default;
                    }
                    .marketing-img-text{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        text-align: center;
                        transform: translate(-50%, -50%);
                        font-family: 'Maven Pro', sans-serif;
                        font-weight: 300;
                        font-size: 34px;
                        cursor: default;
                    }
                }
                .web-service-text{
                    padding: 12px;
                    font-family: 'Maven Pro', sans-serif;
                    font-weight: 300;
                    font-size: 20px;
                }

            }

            .marketing-img-service {
                background-color: #666666;
                width: 530px;
                height: 340px;
            }
        }
    }

}