<div class="container">
    <div class="img-oul">
        <img class="img-mas4" src="assets/images/mas4-sinFondo-hd.webp" alt="">
    </div>
    <div class="info">
        <div class="title">
            Equipo Dejavuoh
        </div>
        <div class="characteristics">
            <ul>
                <li>Innovación</li>
                <li>Resultados</li>
                <li>Entusiasmo Tech</li>
            </ul>
        </div>
        <div class="message">
            Dando vida a ideas brillantes
        </div>
    </div>
    <div class="nav-button" routerLink="/nosotros" routerLinkActive="active">
        Saber más
    </div>

</div>