.footer-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding: 30px 0px;
    border-top: 1px solid rgb(85, 85, 85);
    .footer-text {
        margin: 0px 150px;
        font-family: 'Maven Pro', sans-serif;
        font-weight: 200;
        font-size: 16px;
        cursor: default;
    }
}